.custom-navbar {
  display: flex;
  flex: 1;
  background: #fff;
  z-index: 10;
  width: 100%;
}

.navbar-brand {
  font-family: var(--font-primary);
  font-size: 2rem !important;
  font-style: oblique;
  color: #323232;
}

.movie-option {
  font-family: var(--font-secondary);
  font-size: 1.3rem !important;
  padding-top: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
  color: #323232;
}

.movie-option:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
