.latest-movie-img {
  width: 100%;
  height: 100%;
  min-height: 10rem;
  max-height: 30rem;
  object-fit: cover;
}

/* .trendimg-movie-container::after {
  position: relative;
  bottom: 0px;
  color: #fff;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1250875350140056) 0%,
    rgba(15, 15, 15, 0.4556197478991597) 51%,
    rgba(28, 28, 28, 1) 100%
  );
  height: 100%;
  width: auto;
  display: flex;
  flex: 1;
  content: "hello";
  z-index: 100;
} */

.img-overlay {
  position: absolute;
  top: 8rem;
  color: #fff;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 64%,
    rgba(255, 255, 255, 0.520045518207283) 100%
  );
  width: auto;
  right: 10%;
  overflow: hidden;
}

.container-custom {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: flex-end;
  justify-content: center;
}

.movie-title {
  font-family: var(--font-primary);
  font-size: 2rem;
}

.movie-description {
  font-family: var(--font-secondary);
  font-size: 1rem;
  width: 30%;
  text-align: right;
  color: #fff;
}

.trendimg-movie-container {
  border-radius: 1.3rem !important;
  overflow: hidden;
}
