.side-movies-container {
  position: sticky !important;
  top: 0;
  display: flex;
  flex: 1;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.movie-container {
  border-radius: 1.3rem !important;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

