.custom-card,
.custom-card-mostwatched {
  border: none;
  border-radius: 0.5rem !important;
  background-color: #fff;
  overflow: hidden;
  transition: 1s;
}

.custom-card:hover {
  box-shadow: 0 1px 60px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 1s;
}

.custom-card-mostwatched:hover {
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 1s;
}

.custom-card-mostwatched {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.custom-img-thumbnail,
.custom-img-thumbnail-mostwatched {
  border: none !important;
  filter: contrast(90%);
  border-radius: 0 !important;
  padding: 0;
  object-fit: fit;
  max-height: 45rem;
  background-color: transparent !important;
}

.custom-img-thumbnail-mostwatched {
  border-radius: 0.9rem !important;
}

.movie-intro-container,
.movie-intro-container-mostwatched {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-wrap: break-word;
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  color: #323232;
}

.movie-intro-container-mostwatched {
  font-size: 0.8rem;
}

.all-movie-description {
  font-family: var(--font-secondary);
  font-size: 0.8rem;
  text-align: left;
  color: #323232;
  height: 3.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
